.user-menu-container{
    position: relative;
    display: inline-block;
}

.user-menu-button{
    background-color:#4a4a4a;
    color:white;
    border:none;
    padding: 8px 12px;
    border-radius:6px;
    cursor:pointer;
    font-size: 18px;
}

.user-menu-button:hover{
    background-color: #3c7ac0;
}

.user-menu-dropdown {
    background: white;
    position: absolute;
    right: 10px;
    top: 35px;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.20);
    animation: dropdown 0.25s ease-out;
}

@keyframes dropdown {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}


.logout-btn{
    background-color: #d9534f;
    width:100%;
    color:white;
    padding:8px;
    border:none;
    border-radius: 6px;
    cursor:pointer;
}

.logout-btn:hover{
    background-color: #c9302c;
}